ul {
	list-style: none;
}
.nav {
	width: 99%;
	position: fixed;
	top: 0px;
	background: black;
	height: 100px;
}

.active {
	background: rgb(0, 0, 0, 0.3);
}

.nav div {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav div img {
	width: 100px;
	height: 100px;
}

.nav div>ul>li {
	list-style: none;
	display: inline-block;
	margin-left: 40px;
	position: relative;
	height: 100px;
	line-height: 100px;
}

.nav div ul li a {
	text-decoration: none;
	font-size: 14px;
	color: white;
}

.nav div ul li div {
	position: absolute;
	top: 100px;
	left: -10px;
	width: 80px;
	background: rgb(0, 0, 0, 0.3);
	display: none;
}

.nav div ul li div p {
	height: 30px;
	line-height: 30px;
	color: white;
	text-align: center;
	font-size: 14px;
	margin: 0px;
}

.nav div ul li div p a:hover {
	background: black;
	display: block;
}

.nav ul li:nth-of-type(2):hover .one,
.nav ul li:nth-of-type(3):hover .two,
.nav ul li:nth-of-type(4):hover .three,
.nav ul li:nth-of-type(5):hover .four,
.nav ul li:nth-of-type(6):hover .five,
.nav ul li:nth-of-type(8):hover .six {
	display: block;
}

footer {
	width: 100%;
	background: black;
}

footer .content {
	width: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-evenly;
	padding: 30px;
	box-sizing: border-box;
}

footer .content div:nth-child(1) {
	text-align: center;
}

footer .content div:nth-child(3),
footer .content div:nth-child(4) {
	width: 200px;
	margin-left: 50px;
}

footer .content div p,
footer .content div form label {
	color: gainsboro;
	font-size: 14px;
}

footer .content ul li a {
	text-decoration: none;
	color: gainsboro;
	font-size: 14px;
	line-height: 30px;
}

footer .content ul li:nth-child(1) {
	color: goldenrod;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}

footer .content div form button {
	background: goldenrod;
	color: white;
	width: 100px;
	height: 30px;
	text-align: center;
	border: none;
	margin-top: 30px;
}

footer .content div img {
	width: 130px;
	height: 130px;
}

footer .scolltop {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: url(../image/back.png)no-repeat 10px 14px gray;
	background-size: 20px auto;
	position: fixed;
	right: 40px;
	bottom: 40px;
}

footer .scolltop:hover {
	background: url(../image/back.png)no-repeat 10px 14px goldenrod;
	background-size: 20px auto;
}