.image{
	width: 100%;
	height: 700px;
	background: url(../image/about5.jpg)center;
	background-size: cover;
}

.banner{
	width: 100%;
	background:rgb(0,0,0,0.1);
	padding: 25px;
	box-sizing: border-box;
}
.banner .banner_content{
	width: 82%;
	height: 600px;
	margin: 0px auto;
	background: white;	
	padding: 10px;
	box-sizing: border-box;	
}
.banner_content .top{
	width: 100%;
	height: 380px;
	display: flex;
}
.banner_content .top .left{
	width: 60%;
}
.banner_content .top .left ul{
	padding: 0px;
	margin: 0px;
	position: relative;
}
.banner_content .top .left .item{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
.banner_content .top .left ul li img{
	width: 100%;
	height: 380px;
}
.banner_content .top .right{
	width: 40%;
	height: 100%;
}
.banner_content .top .right ul{
	position: relative;
}
.banner_content .top .right .item2{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
.banner_content .bottom{
	width: 100%;
	height: 180px;
}
.banner_content .bottom ul{
	padding: 0px;
	display: flex;
	justify-content: space-between;
}
.banner_content .bottom ul li{
	width: 24%;
	height: 100%;
	position: relative;
}
.banner_content .bottom ul li img{
	width: 100%;
	height: 180px;
}
.banner_content .bottom ul li .son{
	width: 100%;
	height: 180px;
	background: rgb(0,0,0,0.5);
	position: absolute;
	top: 0px;
}
.banner_content .bottom ul li:hover .son{
	opacity: 0;
}
.about{
	width: 100%;
}
.about_content{
	text-align: center;
	width: 82%;
	margin: 30px auto;
}
.about_content p{
	color: gray;
	font-size: 14px;
	width: 60%;
	margin: 0px auto;
	text-indent: 16px;
	line-height: 30px;
}
.about_content img{
	width: 50%;
	margin-top: 20px;	
}
@keyframes py{
	from{transform: translateY(100px);opacity: 0;}
	to{transform: translateY(0px);opacity: 1;}
}
.about_content img:hover{
	transform-origin: bottom;
	animation: py 2s;
}
@keyframes py2{
	from{transform: translateX(200px);opacity: 0;}
	to{transform: translateX(0px);opacity: 1;}
}
@keyframes py3{
	from{transform: translateX(-200px);opacity: 0;}
	to{transform: translateX(0px);opacity: 1;}
}
.about_content div:nth-of-type(1),.about_content div:nth-of-type(3){
	animation: py2 2s;
}
.about_content div:nth-of-type(2){
	animation: py3 2s;
}
